<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- update these settings for your environment -->
    <add key="targetSiteUrl" value="https://YOUR_TENANT.sharepoint.com/" />
    <add key="userName" value="YOUR_USER_ACCOUNT@YOUR_TENANT.onMicrosoft.com" />
    <add key="password" value="YOUR_USER_PASSWORD" />
  </appSettings>
</configuration>